# Configuration file

####################
# block
####################

block {
    I:chunkloader.id=960
    I:peripherals.block.id=3414
    I:peripherals.lan-wire.id=464
    I:tubestuff.id=1808
    I:tubestuff.storage.id=1661
}


####################
# chunkloader
####################

chunkloader {
    ####################
    # playerQuotaOverride
    ####################

    playerQuotaOverride {
    }

}


####################
# general
####################

general {
    B:autoAssign=false
    B:chunkloader.allowFuelPiping=false
    B:chunkloader.bypassForgeChunkLimits=true
    B:chunkloader.enableCrafting=true

    # comma-separated list of id:meta=number-of-ticks or id=number-of-ticks
    S:chunkloader.fuels=87=80,1=60,263:0=12000,348=2400,4=20,331=1200,112=200,3=20,263:1=1200,368=18000,378=18000,381=36000
    B:chunkloader.hideOtherPlayersLoadersInF9=false

    # Maximum number of chunks loaded by each player. Use -2 for unlimited.
    I:chunkloader.maxChunksPerPlayer=-2
    B:chunkloader.useFuel=false
    B:core.assumeIDResolver=true

    # name of TPS command, without the slash. leave blank to disable.
    S:core.command.tps.name=tps
    B:core.ignoreBuildcraftCore=false
    B:core.ignoreBuildcraftTransport=false
    B:core.ignoreIC2=false

    # advanced setting: comma-separated list of classes to ignore when generating dynamic inheritance chains
    S:core.mictransformer.ignoredClasses=

    # 
    S:peripherals.adminPassword=
    B:peripherals.enableAdventureMapInterface=true
    B:peripherals.enableCraftingAcceleratorComponents=true
    B:peripherals.enableCraftingCryptoAccelerator=true
    B:peripherals.enableCraftingLANModem=true
    B:peripherals.enableCraftingLANWire=true
    B:peripherals.enableCraftingMagCardDevice=true
    B:peripherals.enableCraftingMagCards=true
    B:peripherals.enableCraftingRFIDCards=true
    B:peripherals.enableCraftingRFIDReader=true
    B:peripherals.enableCraftingRFIDWriter=true
    B:peripherals.enableCraftingSpeaker=true
    B:peripherals.enableLAN=true
    B:peripherals.enableLANSenderSpoofing=true
    I:peripherals.rfidTicksPerScan=10
    B:tubestuff.enableBHCAnim=true
    B:tubestuff.enableBHCParticles=true
    B:tubestuff.enableBlackHoleChest=false
    B:tubestuff.enableCraftingBlockBreaker=true
    B:tubestuff.enableCraftingDeployer=true
    B:tubestuff.enableCraftingIncinerator=true
    B:tubestuff.enableCraftingLiquidIncinerator=true
    B:tubestuff.enableCraftingOnlinePlayerDetector=true
    B:tubestuff.enableCraftingRetrievulator=true
    B:tubestuff.enableSlowDustFalling=false
    B:tubestuff.enableStorageBlocks=true
    B:tubestuff.enableStorageBlocks.useOreDictionary=true
    B:tubestuff.enableStorageBlocks.vanilla=true
}


####################
# item
####################

item {
    I:peripherals.component=28230
    I:peripherals.magstripe=10153
    I:peripherals.rfid=16230
    I:tubestuff.uselessItem=11307
}


####################
# logging
####################

logging {
    # Name of a file to keep updated with a list of all active chunk loaders. Blank for none.
    S:chunkloader.listFileName=

    # Name of a file to log creation, deletion and editing of chunk loaders to. Blank for none.
    S:chunkloader.logFileName=
}


