# Configuration file

####################
# arrowconfig
####################

arrowconfig {
    S:"CraftedStackSize Confusing Arrow"=4
    S:"CraftedStackSize Dirt Arrow"=4
    S:"CraftedStackSize Exploding Arrow"=4
    S:"CraftedStackSize Fire Arrow"=4
    S:"CraftedStackSize Frost Arrow"=4
    S:"CraftedStackSize Penetrating Arrow"=4
    S:"CraftedStackSize Rope Arrow"=4
    S:"CraftedStackSize Seed Arrow"=4
    S:"CraftedStackSize Slime Arrow"=4
    S:"CraftedStackSize Torch Arrow"=4
    S:"CraftedStackSize Warp Arrow"=4
    S:"Damage Confusing Arrow"=4
    S:"Damage Dirt Arrow"=4
    S:"Damage Exploding Arrow"=4
    S:"Damage Fire Arrow"=4
    S:"Damage Frost Arrow"=4
    S:"Damage Penetrating Arrow"=4
    S:"Damage Rope Arrow"=4
    S:"Damage Seed Arrow"=4
    S:"Damage Slime Arrow"=4
    S:"Damage Torch Arrow"=4
    S:"Damage Warp Arrow"=4
}


####################
# arrows enabled
####################

"arrows enabled" {
    B:"Confusing Arrow"=true
    B:"Dirt Arrow"=true
    B:"Exploding Arrow"=true
    B:"Fire Arrow"=true
    B:"Frost Arrow"=true
    B:"Penetrating Arrow"=true
    B:"Rope Arrow"=true
    B:"Seed Arrow"=true
    B:"Slime Arrow"=true
    B:"Torch Arrow"=true
    B:"Warp Arrow"=true
}


####################
# block
####################

block {
    I:blockIdGrapplingHook=4079
    I:blockIdRope=4080
    I:blockIdRopeDJRoslin=4078
    I:blockIdZipLineAnchor=4077
}


####################
# general
####################

general {
    B:disableBowHook=false
    I:"max HookShot Rope Length"=50
}


####################
# item
####################

item {
    I:itemIdArrowConfusion=31723
    I:itemIdArrowDirt=31722
    I:itemIdArrowExplosion=31721
    I:itemIdArrowFire=31720
    I:itemIdArrowGrass=31719
    I:itemIdArrowIce=31718
    I:itemIdArrowLaser=31717
    I:itemIdArrowRope=31716
    I:itemIdArrowSlime=31715
    I:itemIdArrowTorch=31714
    I:itemIdArrowWarp=31713
    I:itemIdGrapplingHook=31725
    I:itemIdHookShot=31712
    I:itemIdHookshotCartridge=31711
    I:itemIdRope=31726
    I:itemIdRopesPlusBow=31724
}


