# Configuration file

####################
# block
####################

block {
    I:LiquidCyaniteStill=1755
    I:LiquidFuelColumnStill=1756
    I:LiquidYelloriumStill=1754
    I:ReactorControlRod=1753
    I:ReactorGlass=1757
    I:ReactorPart=1752
    I:ReactorRedstonePort=1759
    I:SmallMachine=1758
    I:YelloriteOre=1750
    I:YelloriumFuelRod=1751
}


####################
# compatibility
####################

compatibility {
    # If true, automatically adds all unregistered ingots found as clonesof standard yellorium fuel
    B:autoAddUranium=true
}


####################
# general
####################

general {
    I:maxReactorHeight=48
    I:maxReactorSize=32
    D:powerProductionMultiplier=1.0
    I:ticksPerRedstoneUpdate=20
}


####################
# item
####################

item {
    I:BucketCyanite=17752
    I:BucketYellorium=17751
    I:IngotYellorium=17750
}


####################
# recipes
####################

recipes {
    B:registerCharcoalForSmelting=true
    B:registerCoalForSmelting=true
    B:registerGraphiteCharcoalCraftingRecipes=false
    B:registerGraphiteCoalCraftingRecipes=false
}


####################
# worldgen
####################

worldgen {
    B:GenerateYelloriteOre=false
    I:YelloriteClustersPerChunk=4
    I:YelloriteDimensionBlacklist <
     >
    I:YelloriteMaxY=50
    D:YelloriteOreGenBaseChance=0.75
    D:YelloriteOreGenChanceMultiplier=0.5
    I:YelloriteOrePerCluster=4
    B:enableWorldGen=true
    B:enableWorldGenInNegativeDims=false
    B:enableWorldRegeneration=false
    I:userWorldGenVersion=0
}


